
body{
    background-color: rgb(1, 1, 1);
}

p{
    font-size: 14px;
    line-height: 2;
}

main{
    color: white;
}

div{
    color: white;
}

h1{
    font-size: 35px;
    margin-left: 6%;
    padding-top: 80px;
}

h2{
    font-size: 30px;
    margin-left: 5%;
}

h3{
    font-size: 20px;
    color: red;
}

.bio-title{
    margin-left: 16%;
    font-size: 45px;
}

.bio-para{
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-size: 20px;
}

.services-title{
    margin-left: 12%;
    margin-right: 12%;
    background-color: rgb(116, 146, 156);
    color: black;
    padding-left: 30px;
    border-radius: 5px;
    font-size: 35px;
}

.services-body{
    background-color: rgb(116, 146, 156);
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 5px;
    padding: 15px;
}

.services-tag{
    text-align: center;
    color: black;
    font-size: 25px;
}

.services-para{
    text-align: center;
    font-size: 18px;
}

/* header section */

header{
    background-color: black;
    width: 90%;
    height: 400px;
    color: white;
    background-image: url(bloodborne-banner.jpg);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#location-tag{
    margin-left: 6%;
    font-size: 18px;
}

/* BTN section */

.btn{
    display:block;
    background-color: rgb(116, 146, 156);
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 200px;
    border-radius: 5px;
    margin-left: 7%;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
}

/* Menu */


.menu{
    background-color: rgb(116, 146, 156);
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.menu a{
    color: black;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    border-radius: 5px;
}

.menu a:hover{
    background-color: black;
    color: white;
}

/* Lists */

ul, ol{
    list-style-image: url(iconfinder_Ok_131848.png);
    background-color: rgb(116, 146, 156);
    color: white;
    padding: 20px;
    width: 20%;
    margin-left: 38%;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

li{
    background-color: white;;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: black;
    border-radius: 5px;
    text-align: center;
}

li:hover{
    background-color: black;
    color: white;
}

.skill-tag{
    background-color: rgb(116, 146, 156);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-left: 25%;
}

.skill-title{
    margin-top: -3%;
    font-size: 50px;
    margin-left: 13%;
}